@page "/"
@using UserSearch.Interfaces
@using UserSearch.Implementations

<PageTitle>User List</PageTitle>

<h1>Users</h1>

Welcome to user list. Here you can see a list of all the users.

<UserListView/>
